#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
}
input {
  width: 100%;
}

.items-container {
  text-align: left;
}
.kg-row {
  margin: 10px 5px;
}
.kg-btn{
  width: 70px;
  
}
