.kg-item {
    background-color: khaki;
    height: 38px;
  }
  .kg-span {
    font-weight: 500;
    color: orangered;
  }
  li{
    list-style: none;
   
  }
  .button{
   margin-bottom: 5px;
   
    float: right;
  }